#tx-tree {
    flex-grow: 1;
    height: 0;

    display: flex;
    flex-direction: column;

    > * {
        padding-left: $padding-8;
    }

    #block-n {
        height: 32px;
        display: flex;
        align-items: center;

        margin-bottom: 4px;
        border-bottom: 1px solid $border-c1;
    }

    #tx-list {
        flex-grow: 1;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: $padding-8;

        > * {
            font-family: $font-family-pro;
            font-size: 14px;
        }

        .tx-number {
            padding: $padding-2 0;
            cursor: pointer;
        }

        .tx-number:hover {
            background: $black-30;
        }

        .tx-number:focus {
            outline: none;
            border: 1px $btn-outline dashed;
        }

        .tx-number.active-tab {
            background: $tx-active;
        }

        .tx-info {
            font-size: 12px;
            margin-bottom: $padding-8;
            border-left: 1px solid $muted-white;
            li {
                padding: $padding-2 0;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: $padding-8;
                cursor: pointer;
                position: relative;
                // height: 20px;
            }

            li:hover {
                background: $black-30;
            }

            li.tx-active {
                background: $tx-active;
            }
        }

        .tx-info.collapsed {
            display: none;
        }
    }
}

@include _scroll-bar("#tx-list");
