.icon-btn {
    width: 30px;
    height: 30px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: none;
}

.icon-btn:focus {
    outline: 1px $btn-outline dashed;
}

.icon-btn.icon-success {
    background: #b9d6c1;
    svg {
        fill: $success;
    }
}

.icon-btn.icon-error {
    background: #ddbaba;
    svg {
        fill: $error;
    }
}

.icon-btn.icon-btn-40 {
    width: 40px;
    height: 40px;
}

.icon-btn.icon-btn-21 {
    width: 21px;
    height: 21px;
}

.icon-btn-hint {
    // @include ubu-i(12px);
    font-family: $font-family-mont;
    font-size: 12px;
}
