@mixin _scroll-bar($property) {
    #{$property}::-webkit-scrollbar {
        width: 6px !important;
    }

    #{$property}::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
    }

    #{$property}::-webkit-scrollbar-thumb {
        background-color: $scroll-bar-color !important;
    }
}
